{% extends 'base.html' %}
{% block nav_item_home %}active{% endblock nav_item_home %} 
{% block content %}

{% load static %}
{% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    {% endfor %}
        <!-- Main Slider Start -->
        <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <nav class="navbar bg-light">
                            <ul class="navbar-nav">
                              {% for cat in category %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/category-products/{{cat.id}}">{{cat.title}}</a>
                                </li>
                        
                                {% endfor %}
                            </ul>
                            
                        </nav>
                    </div>
                    <div class="col-md-9">
                      
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for banner in banners %}
                            {% if forloop.counter == 1 %}
                          <li data-target="#carouselExampleIndicators" data-slide-to="forloop.counter" class="active"></li>
                          {% else %}
                          <li data-target="#carouselExampleIndicators" data-slide-to="forloop.counter"></li>
                          {% endif %}
                         {% endfor %}
                        </ol>
                        
                        <div class="carousel-inner" style="height: 350px">
                            {% for banner in banners %}
                            {% if forloop.counter == 1 %}
                        <div class="carousel-item active">
                            {% else %}
                          <div class="carousel-item">
                            {% endif %}
                            <a href = "{% url 'product-list' %}"><img class="img-fluid" src="/media/{{banner.img}}" alt="..."></a>
                          </div>
                          {% endfor %}
                          
                        </div>
                        </div>
                        
                        
                      </div>
                     {% comment %}  <div class="col-md-3">
                        <div class="category-item ch-250">
                          {% for cat in category %}
                         {% if forloop.counter == 2 %}
                          <a href = "{% url 'cart' %}"><img class="d-block w-100" src="/media/{{cat.image}}" alt="..."></a>
                            <a class="category-name" href="">
                                <p>{{cat.title}}</p>
                            </a>
                            {% endif %}
                           {% endfor %}
                        </div>
                    </div> {% endcomment %}
                   
                </div>
                
               
              
                </div>
                
            </div>
            
        </div>
      
        <!-- Main Slider End -->    

        <!-- Feature Start-->
        <div class="feature">
          <div class="container-fluid">
              <div class="row align-items-center">
                  <div class="col-lg-3 col-md-6 feature-col">
                      <div class="feature-content">
                          <i class="fa fa-check"></i>
                          <h2>Quality Products</h2>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 feature-col">
                      <div class="feature-content">
                        <i class="fa fa-truck-fast"></i>
                          <h2>Cash on Delivery</h2>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 feature-col">
                      <div class="feature-content">
                          <i class="fa fa-sync-alt"></i>
                          <h2>14 Days Return</h2>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 feature-col">
                      <div class="feature-content">
                          <i class="fa fa-phone-volume"></i>
                          <h2>24/7 Support</h2>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Feature End-->   

        
         <!-- Category Start-->
         <div class="category">
          
          <div class="container-fluid">
            <h3>Categories</h3>
              <div class="row">
                
                  <div class="col-md-3">
                      <div class="category-item w-50 p-3">
                        {% for cat in category %}
                       {% if forloop.counter == 1 %}
                        <a href = "/category-products/{{cat.id}}"><img class="img-thumbnail" src="/media/{{cat.image}}" alt="..."></a>
                          <a class="category-name" href="/category-products/{{cat.id}}">
                              <p>{{cat.title}}</p>
                          </a>
                          {% endif %}
                         {% endfor %}
                      </div>
                  </div>
                  <div class="col-md-3">
                    <div class="category-item w-50 p-3 ">
                      {% for cat in category %}
                     {% if forloop.counter == 2 %}
                      <a href = "/category-products/{{cat.id}}"><img class="img-thumbnail" src="/media/{{cat.image}}" alt="..."></a>
                        <a class="category-name" href="/category-products/{{cat.id}}">
                            <p>{{cat.title}}</p>
                        </a>
                        {% endif %}
                       {% endfor %}
                    </div>
                </div>
                <div class="col-md-3">
                  <div class="category-item w-50 p-3 ">
                    {% for cat in category %}
                   {% if forloop.counter == 3 %}
                    <a href = "/category-products/{{cat.id}}"><img class="img-thumbnail" src="/media/{{cat.image}}" alt="..."></a>
                      <a class="category-name" href="/category-products/{{cat.id}}">
                          <p>{{cat.title}}</p>
                      </a>
                      {% endif %}
                     {% endfor %}
                  </div>
              </div>
              <div class="col-md-3">
                <div class="category-item w-50 p-4 ">
                  {% for cat in category %}
                 {% if forloop.counter == 4 %}
                  <a href = "/category-products/{{cat.id}}"><img class="img-thumbnail" src="/media/{{cat.image}}" alt="..."></a>
                    <a class="category-name" href="/category-products/{{cat.id}}">
                        <p>{{cat.title}}</p>
                    </a>
                    {% endif %}
                   {% endfor %}
                </div>
            </div>
            <div class="col-md-3">
              <div class="category-item w-50 p-3 ">
                {% for cat in category %}
               {% if forloop.counter == 5 %}
                <a href = "/category-products/{{cat.id}}"><img class="img-thumbnail" src="/media/{{cat.image}}" alt="..."></a>
                  <a class="category-name" href="/category-products/{{cat.id}}">
                      <p>{{cat.title}}</p>
                  </a>
                  {% endif %}
                 {% endfor %}
              </div>
          </div>
          <div class="col-md-3">
            <div class="category-item w-50 p-3 ">
              {% for cat in category %}
             {% if forloop.counter == 6 %}
              <a href = "/category-products/{{cat.id}}"><img class="img-thumbnail" src="/media/{{cat.image}}" alt="..."></a>
                <a class="category-name" href="/category-products/{{cat.id}}">
                    <p>{{cat.title}}</p>
                </a>
                {% endif %}
               {% endfor %}
            </div>
        </div>
        <div class="col-md-3">
          <div class="category-item w-50 p-3 ">
            {% for cat in category %}
           {% if forloop.counter == 7 %}
            <a href = "/category-products/{{cat.id}}"><img class="img-thumbnail" src="/media/{{cat.image}}" alt="..."></a>
              <a class="category-name" href="/category-products/{{cat.id}}">
                  <p>{{cat.title}}</p>
              </a>
              {% endif %}
             {% endfor %}
          </div>
      </div>
      <div class="col-md-3">
        <div class="category-item w-50 p-3 ">
          {% for cat in category %}
         {% if forloop.counter == 8 %}
          <a href = "/category-products/{{cat.id}}"><img class="img-thumbnail" src="/media/{{cat.image}}" alt="..."></a>
            <a class="category-name" href="/category-products/{{cat.id}}">
                <p>{{cat.title}}</p>
            </a>
            {% endif %}
           {% endfor %}
        </div>
    </div>
                
                 
              </div>
          </div>
      </div>
      <!-- Category End-->  
        
        <main class="container my-4">
            <!-- Featured Products -->
            <h3 class="my-4 border-bottom pb-1">Featured Products</h3>
            <div class="row">
            {% for product in data %}
                <div class="col-md-3 mb-4">
                    <div class="card shadow">
                      <a href="/product/{{product.slug}}/{{product.id}}"><img src="/media/{{product.image}}" class="card-img-top" style="height: 250px" alt="{{product.title}}"></a>
                      <div class="card-body">
                        <p class="card-text"><a href="/product/{{product.slug}}/{{product.id}}">{{product.title}}</a></p><br>
                        
                      </div>
                      <div class="card-footer">
                        
                        <ul class="mb-0 list-inline">
                          <li class="list-inline-item m-0 p-0">
                          <h5><span class="product-price-{{product.id}}">Rs.{{product.sale_price}}</span></h5>
                        <p><span class="product-price-{{product.id}} text-muted"><del>Rs.{{product.reg_price}}</del></span></p></li>
                          
                  <li class="list-inline-item m-0 p-0">
                          <form action="{% url 'add-to-cart' %}">
                            <input type="hidden" name="prod_id" value="{{product.id}}" id="product_id">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                          </form></li>
                          <li class="list-inline-item m-0 p-0">
                  
                            <form action="{% url 'add-to-wishlist' %}">
                              <input type="hidden" name="prod_id" value="{{product.id}}" id="product_id">
                              <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-heart" aria-hidden="true"></i></button>
                            </form></li>
                         
  
                  
                        </ul>
                      </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <p class="my-4 text-center"><a href="{% url 'product-list' %}" class="btn btn-dark btn-sm">All Products <i class="fa fa-long-arrow-alt-right"></i></a></p>
        </main>






{% endblock %}



