{% extends 'base.html' %}

{% block title %} My cart{% endblock %}

{% block content %}
{% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    {% endfor %}
{% if cart_products %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h4>Items in my cart</h4><hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Image</th>
                        <th>Product</th>
                        
                        <th>Color</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for cp in cart_products %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><img src="/media/{{cp.product.image}}" class="card-img-top" alt="{{product.title}}" height="100"></a></td>
                        <td>{{cp.product.title}}</td>
                       
                        <td>{{cp.product.color}}</td>
                        <td>{{cp.product.sale_price}}</td>
                        <td>
                            
                            <a href="{% url 'minus-cart' cp.id %}"><i class="fa fa-minus" aria-hidden="true"></i></a>
                            {{cp.quantity}}
                            <a href="{% url 'plus-cart' cp.id %}"><i class="fa fa-plus" aria-hidden="true"></i></a>
                            
                        </td>
                        <td>{{cp.total_amt}}</td>
                        <td>
                            <a href="{% url 'remove-cart' cp.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            
                        </td>
                        
                        
                    </tr>
                    {% endfor %}
                    
                    
                    <tr>
                        
                        <th colspan="6" class="text-right">Sub Total</th>
                        <th>Rs. {{amount}}</th>
                    </tr>
                    <tr>
                        <th colspan="6" class="text-right">Shipping Charge</th>
                        <th>Rs.{{shipping_amount}}</th>
                    </tr>
                    <tr>
                        <th colspan="6" class="text-right">Total Amount</th>
                        <th>Rs.{{total_amount}}</th>
                    </tr>
                    <tr>
        
                    </tr>
                    
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <div class="jumbotron">
            {% if addresses %}
            <h5 class="text-uppercase my-3">Proceed To Checkout</h5>
                  
            <form action="{% url 'checkout' %}" id="myform">

              
                {% for address in addresses %}
                  <div class="mb-3">
                    
                  <input type="radio" name="address" value="{{address.id}}" checked > <strong>Address {{forloop.counter}}</strong> <br>
                  ( {{address.place}}, {{address.city}}, {{address.state}} )
                  </div>
                {% endfor %}
                <p><a class="btn btn-dark btn-large" href="{% url 'myaccount' %}">Edit Address</a></p>
              


              {% comment %} For Cash on Delivery {% endcomment %}
              <button type="submit" class="btn btn-success" type="submit">Checkout <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>

            </form>

            {% else %}
            
            <h5 class="text-uppercase my-3 text-danger">Select Shipping Address</h5>
            {% if messages %}
                                    {% for message in messages %}
                      <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                          {{ message }}
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                      </div>
                      {% endfor %}
                      {% endif %}
                
                  <p><a class="btn btn-primary btn-large" href="{% url 'myaccount' %}">Add Address</a></p>
                </div>
                {% endif %}
            </div>
        </div>

        

    </div>
</div>

{% else %}
<div class="login">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                
                <div class="login-form">
                    <h4> No items in the cart </h4>
                    <div class="row">


</div>
<a href="{% url 'product-list' %}"><button type="button" class="btn btn-primary">Continue Shopping</button></a>
</div>
</div>
</div>
</div>
</div>

{% endif %}
{% endblock %}